<div class="contents">
  <div class="input_time">
  <%= form_with model: @report, url: reports_path do |f| %>
    <h4>
      日付を選択してください
    </h4>
    <%= f.date_select :date %>
    <h4>
      学習時間を入力してください
    </h4>
    <%= f.number_field :time, placeholder: "勉強時間" %>
    <%= f.text_area :body, placeholder: "内容", size: "20x5" %>
    <%= f.submit "送信",class: 'submit_btn' %>
  <% end %>
  </div>
  <div class="output_time">
    <div class="balloon">
      <p>学習時間の合計は <span class="study_time"> <%= @report_sum %> h </span> です！</p>
    </div>
  </div>
</div>