<div class="contents">
  <div class="input_time">
  <%= form_with model: @report, url: reports_path do |f| %>
    <h4>
      日付を選択してください
    </h4>
    <%= f.date_select :date, use_month_numbers: true, start_year: 2021, end_year: Time.now.year, prompt:"--" %>
    <h4>
      学習時間を入力してください
    </h4>
    <p><%= f.number_field :time, min: 1, max: 24,  placeholder: "時間" %></p>
    <%= f.text_area :body, placeholder: "内容", size: "31x3" %>
    <%= f.submit "送信",class: 'submit_btn' %>
  <% end %>
  </div>

  <div class="output_time">
    <div class="balloon">
      <p>学習時間の合計は <span class="study_time"> <%= @report_sum %> 時間 </span> です！</p>
    </div>
  </div>
</div>