<div class='col-md-8 offset-md-1'>
   <div class = "index">
    <h2 style="text-align: center;">Report</h2>
     <table class="table table-striped">
      <thead>
      　<tr>
            <th>日付</th>
            <th>時間</th>
            <th>内容</th>
            <th>スコア</th>
            <th>コメント</th>
            <th>いいね</th>
      　</tr>
      </thead>
    　<tbody>
　　　　<% reports.each do |report| %>
      　<tr>
        　<td><%= report.date %></td>
        　<td><%= report.time %></td>
        　<td><%= link_to report.body, report_path(report), class: "report_#{report.id}"%></td>
        　<td><span class="sentiment-score">ポジティブスコア<%= report.score %></span></td>
        　<td><%= link_to "#{report.report_comments.count} コメント", report_path(report.id) %></td>
       　 <td class="favorite-btn">いいね<%= render "favorites/favorites", report: report %></td>
      　</tr>
    　 <% end %>
    　</tbody>
    </table>
    </div>
    <%= paginate @reports %>