<div class="container">
    <div class="justify-content-md-center">
    <h1>学習時間編集</h1>
     <%= form_with model:@report, local:true do |f| %>
     <div class="col-sm-8">
      <%= f.label :date, "日付" %><%= f.date_select :date, autofocus: true, id:"inputDate", placeholder:"日付"%>
     </div><br>
     <div class="col-sm-4">
      <%= f.label :time, "時間" %><%= f.number_field :time, autofocus: true, id:"inputTime", placeholder:"時間"%>
     </div><br>
     <div class="col-sm-4">
     <%= f.label :body, "内容" %><%= f.text_area :body, autofocus: true, id:"inputBody", placeholder:"内容"%>
     </div><br>
     <%= f.submit "変更を保存" %>
     <% end %>
    </div>
    </div>
</div>