<header>
   <nav class="navbar navbar-expand-sm navbar-dark bg-secondary ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <%= link_to 'Effort time', root_path, class: "fas fa-hourglass-half btn text-light" %>
         <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
            <% if user_signed_in? %>
              <%= render 'layouts/search' %>
              <%= link_to 'About', home_about_path, class: "fas fa-book btn text-light" %>
              <%= link_to 'マイページ', user_path(current_user), class: "fas fa-user-graduate btn text-light" %>
              <%= link_to 'ユーザー', users_path, class: "fas fa-user-alt btn text-light" %>
              <%= link_to '学習時間', reports_path, class: "fas fa-history btn text-light" %>
              <%= link_to ' logout', destroy_user_session_path, method: :delete,class: 'fas fa-sign-out-alt nav-link text-light' %>
            <% else %>
              <%= link_to 'About', home_about_path, class: "fas fa-book btn text-light" %>
              <%= link_to ' Home',root_path,class: 'fas fa-home nav-link text-light' %>
              <%= link_to ' sign up', new_user_registration_path,class: 'fas fa-user-plus nav-link text-light' %>
              <%= link_to ' login', new_user_session_path ,class: 'fas fa-sign-in-alt nav-link text-light'%>
            <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>